/* Font imports */
@font-face {
    font-family: 'NewHiScore';
    src: url('fonts/NewHiScore.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixel64';
    src: url('fonts/Pixel64_v1.2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MOOD';
    src: url('fonts/MOOD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MOODMkII';
    src: url('fonts/MOOD\ MKII.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MOODOutline';
    src: url('fonts/MOOD\ Outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixel64', Calibri;
    white-space: normal;
    text-align: center;
}

/* Set body background color */
body {
    background-color: #FFF1E8;
    color: #FF77A8;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Style header and navigation */
header {
    background-color: #FFCCAA;
    color: #FF004D;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 2vw;
}

nav ul li a {
    color: #FF004D;
    text-decoration: none;
    font-family: 'NewHiScore', Calibri;
    transition: background-color 0.7s ease; 
    transition: color 0.7s ease; 
    font-size: 5vh;
}

nav ul li a:hover {
    background-color: #FF77A8;
    border-radius: 5px;
    color: #7E2553;
}

nav h1 {
    display: flex;
}

nav h1 a {
    color: #FF004D;
    font-family: 'MOOD', 'NewHiScore', Calibri;
    font-size: 7vmin;
    background-color: rgba(255, 119, 168, 0);
    transition: background-color 0.7s ease; 
    transition: color 0.7s ease; 
    padding-left: 1vmin;
    padding-right: 1vmin;
    padding-top: 6vmin;
    text-decoration: none;
    line-height: 0.4;
    display: inline-block;
}

nav h1 a:hover {
    background-color: rgba(255, 119, 168, 255);
    border-radius: 15px;
    color: #7E2553;
}

.menu-icon {
    display: none;
    user-select: none;
    background-color: rgba(255, 119, 168, 0);
    transition: background-color 0.7s ease; 
    transition: color 0.7s ease; 
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 0.5vh;
    cursor: pointer;
    font-size: 5vh;
    margin-right: 1.5vh;
}

.menu-icon:hover {
    background-color: rgba(255, 119, 168, 255);
    border-radius: 10px;
    color: #7E2553;
    width: auto;
} 

@media screen and (max-width: 1080px) {    
    nav ul {
        display: none;
    }

    nav ul.show {
        display: block;
        flex-direction: column;
        position: static;
        text-align: center;
        line-height: 2vh;
    }

    .menu-icon {
        display: block;
    }

    .mobile-spacer {
        height: 10vh;
    }
}

/* Style main content */
main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    text-align: center;
}

h1 { 
    font-family: 'MOOD', 'NewHiScore', Calibri;
}

h2 {
    font-family: 'MOODOutline', 'NewHiScore', Calibri;
}

h3 {
    font-family: 'MOOD', 'NewHiScore', Calibri;
}

.background {
    background-image: url('/images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    height: 100vw;
    max-height: 70vmax;
}

.centered-text {
    text-align: center;
    color: #FF77A8;
}

.centered-text h1 {
    font-family: 'MOODMkII', 'NewHiScore', Calibri;
    font-size: calc(0.1em + 3vw);
    height: calc(0.2em + 6vw);
    padding-bottom: calc(0.2em + 6.5vw);
    padding-right: 0.5vw;
}

.centered-text p {
    font-size: calc(0.05em + 1.5vw);
}

.centered-text:hover {
    transition: background-color 0.7s ease; 
    transition: color 0.7s ease; 
    background-color: rgba(255, 119, 168, 255);
    border-radius: 15px;
    color: #7E2553;
    
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.left-image, .right-image {
    width: 20vw;
    image-rendering: pixelated;
}

.right-image {
    transform: scaleX(-1);
}

.subheading-shitty {
    margin-top: -8vw;
}

.fade-in {
    animation: fadeIn 3s forwards;
}

.fade-out {
    animation: fadeOut 3s forwards;
}

.fade-out-fast {
    animation: fadeOut 0.1s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}